# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [8]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [9]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

In [7]:
df.columns

Index(['Unnamed: 0', 'id_realEstates', 'isNew', 'realEstate_name',
       'phone_realEstate', 'url_inmueble', 'rooms', 'bathrooms', 'surface',
       'price', 'date', 'description', 'address', 'country', 'level1',
       'level2', 'level3', 'level4', 'level5', 'level6', 'level7', 'level8',
       'upperLevel', 'countryId', 'level1Id', 'level2Id', 'level3Id',
       'level4Id', 'level5Id', 'level6Id', 'level7Id', 'level8Id', 'accuracy',
       'latitude', 'longitude', 'zipCode', 'customZone'],
      dtype='object')

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [19]:
# TODO
casa_mas_cara = df.loc[df["price"].idxmax()]
direccion = casa_mas_cara["address"]
precio_casa_mas_cara = casa_mas_cara["price"]
print(f"la casa mas cara se encuentra en la direccion: '{direccion}' y su precio es: {precio_casa_mas_cara}")

la casa mas cara se encuentra en la direccion: 'El Escorial' y su precio es: 8500000

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [ ]:
# TODO
fila_precio_mas_barato = df[df["price"]>0]["price"].idxmin()

precio_min = df[df["price"]>0]["price"].min()
direccion_precio_mas_bajo = df.loc[fila_precio_mas_barato, "address"]

print(f"en la casa con direccion en {direccion_precio_mas_bajo}, con un precio de {precio_min}")

en la casa con direccion en Berlin, Coslada, con un precio de 600

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [28]:
# TODO
fila_casa_mas_grande = df.loc[df["surface"].idxmax()]
direccion_casa_mas_grande = fila_casa_mas_grande["address"]
area_casa_mas_grande = fila_casa_mas_grande["price"]
print(f"la casa mas cara se encuentra en la direccion: '{direccion_casa_mas_grande}' y su area es: {area_casa_mas_grande} mts2")

la casa mas cara se encuentra en la direccion: 'Sevilla la Nueva' y su area es: 289000 mts2

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [31]:
# TODO
fila_area_menor =  df.loc[df["surface"].idxmin()]
direccion_menor_area = fila_area_menor["address"]
area_menor = fila_area_menor["surface"]
print(f"la casa con direccion en '{direccion_menor_area}', con un area de: {area_menor}")

la casa con direccion en 'Calle Amparo,  Madrid Capital', con un area de: 15.0

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [ ]:
# TODO

dataset_de_nulos = df.isnull() # me devuelve el dataset con valores true o false (dependiendo de si es nulo o no)
dataset_de_nulos.any() #  devuelve verdadero si existe al menos un valor con true en la columna
dataset_de_nulos.any(axis=1) # colocando axis=1 me devuelve el ressultado por filas

0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

#### Ejercicio 06.

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [33]:
# TODO
df.shape # el datafame original tiene 5269 filas y  37 columnas
nuevo_df = df.dropna(axis=1) #asigna a nuevo_df las columnas que no contienen nulos
print(f"data frame original: {df.shape[1]} columnas, dataframe eliminando las columnas con nulos: {nuevo_df.shape[1]} columnas")

data frame original: 37 columnas, dataframe eliminando las columnas con nulos: 25 columnas

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [34]:
# TODO
poblaciones = df["level5"].unique() #muestra una lista de los nombres de las poblaciones unicas contenidas en level5
numero_de_poblaciones = df["level5"].nunique()
numero_de_poblaciones
df["level5"].value_counts()# el metodo values_counts() nos devuelve los valores unicos y cuantas veces aparecen en la columna
#existe un total de 139 poblaciones dentro del dataset en la columna leve5

level5
 Madrid Capital         6643
Alcalá de Henares        525
Las Rozas de Madrid      383
Móstoles                 325
Getafe                   290
                        ...
Fresno de Torote           1
Pinilla del Valle          1
Rascafría                  1
La Hiruela                 1
Montejo de la Sierra       1
Name: count, Length: 168, dtype: int64

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [35]:
# TODO
media_de_precios = df.groupby("level5")["price"].mean() #agrupamos por poblacion la media de precios
int(media_de_precios["Arroyomolinos (Madrid)"])

294541

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [37]:
# TODO
precios_promedio_en_Valdemorillo = int(media_de_precios["Valdemorillo"])
precios_promedio_en_galapagar = int(media_de_precios["Galapagar"])
print(f"precios promedio en Valdemorillo: {precios_promedio_en_Valdemorillo}\n precios promedio en Galapar: {precios_promedio_en_galapagar}")

precios promedio en Valdemorillo: 363860
 precios promedio en Galapar: 360063

En promedio no son exactamente iguales pero si muy similares con una diferencia de menos de 4000€ por lo que se puede concluir que los precios de las viviendas en ambos sectores podrian estar por el mismo nivel.

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [40]:
# TODO
df["pps"]=df["price"]/df["surface"]
media_de_precios_por_mts2 = df.groupby("level5")["pps"].mean()
precios_valdemorillo_por_mts2 = int(media_de_precios_por_mts2["Valdemorillo"])
precios_galapagar_por_mts2 = int(media_de_precios_por_mts2["Galapagar"])
print(f"precios promedio en Valdemorillo por metros2: {precios_valdemorillo_por_mts2}\n precios promedio en Galapagar por metros2: {precios_galapagar_por_mts2}")

precios promedio en Valdemorillo por metros2: 1317
 precios promedio en Galapagar por metros2: 1606

se observa que los precios por metros cuadrados en  valdemorillo son mas bajos por lo que se puede concluir que construcciones con las mismas cantidades de metros cuadrados posiblemente sean mas economicos en valdemorillo que en galapar

#### Ejercicio 11

¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [41]:
# TODO
lista_de_inmoviliarias = df["realEstate_name"].unique() #lista de todas las inmoviliarias
df["realEstate_name"].nunique()
len(lista_de_inmoviliarias)

1822

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [52]:
# TODO
casas_por_poblacion = df["level5"].value_counts() # nos  indica el numeros de casas por poblaciones
casas_por_poblacion.idxmax(), int(casas_por_poblacion.max())    #idxmax retuna la poblacion del numero maximo, y max el numero maximo

(' Madrid Capital', 6643)

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [53]:
# TODO
df_sub = df[df["level5"].isin(["Fuenlabrada", "Leganés", "Getafe", "Alcorcón"])]
df_sub

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [54]:
# TODO
medias = df_sub.groupby("level5")[["bathrooms","surface","rooms", "price"]].mean()
varianzas = df_sub.groupby("level5")[["bathrooms","surface","rooms", "price"]].var()
Poblaciones = {}
for poblacion in df_sub["level5"].unique():
  Poblaciones[poblacion] ={}
for poblacion in Poblaciones.keys():
  for column in varianzas:
    Poblaciones[poblacion][column+"_var"] = round(float(varianzas.loc[poblacion, column]),2)
  for column in medias:
    Poblaciones[poblacion][column+"_mean"] = round(float(medias.loc[poblacion, column]),2)
Poblaciones

{'Fuenlabrada': {'bathrooms_var': 0.35,
  'surface_var': 2264.64,
  'rooms_var': 0.36,
  'price_var': 4701020700.47,
  'bathrooms_mean': 1.45,
  'surface_mean': 103.62,
  'rooms_mean': 3.03,
  'price_mean': 177198.02},
 'Alcorcón': {'bathrooms_var': 0.59,
  'surface_var': 4244.32,
  'rooms_var': 0.93,
  'price_var': 15947825983.01,
  'bathrooms_mean': 1.62,
  'surface_mean': 105.91,
  'rooms_mean': 2.91,
  'price_mean': 230071.05},
 'Leganés': {'bathrooms_var': 0.55,
  'surface_var': 3987.48,
  'rooms_var': 0.82,
  'price_var': 11913940043.5,
  'bathrooms_mean': 1.52,
  'surface_mean': 105.85,
  'rooms_mean': 2.91,
  'price_mean': 208682.01},
 'Getafe': {'bathrooms_var': 0.66,
  'surface_var': 5828.11,
  'rooms_var': 0.77,
  'price_var': 20982665802.24,
  'bathrooms_mean': 1.87,
  'surface_mean': 126.9,
  'rooms_mean': 3.15,
  'price_mean': 265040.5}}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [ ]:
# TODO
precios_max = df_sub.loc[df_sub.groupby("level5")["price"].idxmax(),["level5","address","price"]]
precios_max

            level5                                address    price
5585      Alcorcón                               Alcorcón   950000
11561  Fuenlabrada  Calle de Paulo Freire, 5, Fuenlabrada   490000
2881        Getafe                                 Getafe  1050000
10412      Leganés           Avenida Reina Sofía, Leganés   650000

se observa que alcorcón y getafe se encuetran las casas con el mayor precio y en precios similares mientras que en la region de fuenlabrada y Leganés las casas con mayor precio se encuentrar muy por debajo de los precios de las otras dos regiones

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [56]:
#en un ejercicio anterior se sacaron todos precios por mts2 de las poblaciones
#por lo que no vi necesario crear nuevamente la variable ya que la misma existia al
#crear el df_sub,

media_de_precios_por_mts2 = df_sub.groupby("level5")["pps"].mean()
media_de_precios_por_mts2
precios_promedio_en_getafe = int(media_de_precios_por_mts2["Getafe"])
precios_promedio_en_alcorcon = int(media_de_precios_por_mts2["Alcorcón"])
print(f"precios promedio en Getafe por metros2: {precios_promedio_en_getafe}\n precios promedio en Alcorcon por metros2: {precios_promedio_en_alcorcon}")


#precios_por_mts2 = df_sub.groupby("level5")["pps"].mean()
# TODO

precios promedio en Getafe por metros2: 2066
 precios promedio en Alcorcon por metros2: 2239

la zona de Alcorcon es aparentemente una zona mas cara ya que en promedio el precio por metro cuadrado es mas elevado que en Getafe

## Conclusiones

#### Ejercicio 17

Escribe aquí tus conclusiones acerca de este proyecto

con la realizacion de este proyecto puedo concluir certificando que la libreria de pandas es muy util para el estudio de base de datos permitiendonos obtener resultados matematicos muy rapido que se aplican a toda la base de datos, ademas de poder organizar la data en grupos segun nuestros criterios de busqueda.